<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Unbox App</title>
  <!-- We use client cookies to save the user credentials -->
  <script src="//code.angularjs.org/1.2.16/angular.min.js"></script>
  <script src="//code.angularjs.org/1.2.16/angular-cookies.min.js"></script>
  <script src="//code.angularjs.org/1.2.16/angular-route.min.js"></script>
  <script src="/bower_components/angular-timeago/src/timeAgo.js"></script>

  <!-- Auth0 Lock script and AngularJS module -->
  <script src="//cdn.auth0.com/js/lock-7.0.min.js"></script>
  <!-- angular-jwt and angular-storage -->
  <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

  <script src="//cdn.auth0.com/w2/auth0-angular-4.js"> </script>
  <script>
    var AUTH0_CONFIG = {
      domain: '<%= AUTH0_DOMAIN %>',
      clientID: '<%= AUTH0_CLIENT_ID %>'
    }
  </script>

  <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">

  <link href="/css/app.css" rel="stylesheet" type="text/css">

</head>
<body ng-app="unboxApp">
  <nav ng-controller="unboxAppLoginController" class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Unbox App</a>
      </div>
      <div class="navbar-collapse collapse">
        <div class="nav navbar-nav navbar-right unbox-login">
          <div ng-show="auth.isAuthenticated">
            <p class="navbar-text">{{auth.profile.nickname}}</p>
            <input class="btn btn-sm navbar-btn navbar-button" type="submit" ng-show="auth.isAuthenticated === true" ng-click="logout()" value="Log out" />
          </div>
          <div ng-show="!auth.isAuthenticated">
            <input class="btn btn-sm navbar-btn" type="submit"  ng-click="login()" value="Log in" />
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-controller="MenuController">
          <ul class="nav nav-sidebar">
            <li ng-class="getClass('/')"><a href="/">Home</a></li>
            <li ng-class="getClass('/admin')"><a href="#admin">Admin</a></li>
          </ul>
        </div>
      <ng-view>
      </ng-view>

      <script type="text/ng-template" id="unboxAdmin.html">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="alert alert-danger" role="alert" ng-show="errorMessage.length > 0">
            {{ errorMessage }}
          </div>
          <h2 class="page-header">Admin</h2>
          <div ng-show="allProducts === null">
            Looking up products...
          </div>
          <table class="table" ng-show="allProducts !== null">
            <thead><tr>
              <th>Owner</th>
              <th>S/N</th>
              <th>Status</th>
              <th>Created At</th>
            </tr></thead>
            <tbody><tr ng-repeat="product in allProducts.products">
              <td>{{ product.unbox.userid }}</td>
              <td>{{ product.portals.sn }}</td>
              <td>{{ product.portals.info.basic.status }}</td>
              <td>{{product.unbox.createdat|timeAgo}}</td>
            </tr></tbody>
          </table>
        </div>
      </script>
      <script type="text/ng-template" id="unboxHome.html">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div ng-show="auth.isAuthenticated">
            <div class="alert alert-danger" role="alert" ng-show="errorMessage.length > 0">
              {{ errorMessage }}
            </div>
            <h2 class="page-header">Home</h2>
            <div class="row placeholders">
              <div ng-show="products !== null" class="col-xs-6 col-sm-3 placeholder" ng-repeat="product in products.products">
                <img data-src="js/holder.js/150x150/auto/vine" class="unbox-device-image img-responsive img-circle" alt="200x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzM5REJBQyIvPjxnPjx0ZXh0IHg9Ijc0LjA0Njg3NSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojMUUyOTJDO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true">
                <h4>{{ product.modelObj.friendly }}</h4>
                <div class="text-muted">SN: {{ product.sn }}</div>
                <div class="text-muted">Status: {{ product.info.basic.status }}</div>
              </div>
              <div ng-show="products === null">
                Looking up your products...
              </div>
              <button class="btn btn-primary" ng-click="addProduct()">Add Product</button>
            </div>
          </div>
        </div>
      </script>

        <!-- modal for adding a new device -->
          <script type="text/ng-template" id="addProductModal.html">
            <div class="modal-header">
              <h3 class="modal-title">Add Product</h3>
            </div>
            <div class="modal-body">
              <div ng-show="models === null">
                Loading models...
              </div>
              <div ng-hide="models === null">
                Select a product model to add:
                <ul>
                  <li ng-repeat="model in models.models">{{ model.friendly }} <button class="btn" ng-click="selectModel(model)">Add</button></li>
                </ul>
              </div>
              <div id="addSerialNumber" ng-show="selectedModel !== null">
                <div>
                  Enter serial number of the {{ selectedModel.friendly }}:
                  <div>
                    <input ng-model="serialNumberToAdd"></input>
                    <span>{{ error }}</span>
                  </div>
                </div>
                <div>
                  <div>Example SN: {{ selectedModel.exampleSN }}</div>
                  <div>SN picture: <img src="{{ selectedModel.pictureSN }}" /></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn" ng-click="cancel()">Cancel</button>
              <button class="btn btn-primary" ng-click="ok()">Add this product</button>
            </div>
          </script>
    </div>
  </div>
  <script src="/bower_components/lodash/lodash.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
